@import "tailwindcss";

:root {
  --background: #000307;
  --foreground: #ffffff;
  --c-blue: #576BCF;
  --c-purple: #965EFF;
  --c-orange: #D06345;
  --c-green: #50BE6A;
  --c-yellow: #C8A83C;
  --c-red: #E74C3C;
  --c-home-blue: #A2B4FB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-c-blue: var(--c-blue);
  --color-c-purple: var(--c-purple);
  --color-c-orange: var(--c-orange);
  --color-c-yellow: var(--c-yellow);
  --color-c-green: var(--c-green);
  --color-c-red: var(--c-red);
  --color-c-home-blue: var(--c-home-blue);
  --font-space-grotesk: var(--font-space-grotesk);
  --font-jetbrains-mono: var(--font-jetbrains-mono);
}

